---
import MainContent from "./MainContent.astro";
import TitleAndMeta from "./TitleAndMeta.astro";
import Sidebare from "./Sidebare.astro";
import { path_routes, type Route } from "../data/routes";
import LatexSupport from "./LatexSupport.astro";

const entries = path_routes.get("blog/")?.children || new Array<Route>();

interface Props {
  title: string;
  class?: string;
  id?: string;
}

const { class: css = "", id = "", title } = Astro.props;
---

<TitleAndMeta title={`${title}`} />
<LatexSupport />
<div class="flex min-h-screen">
  <Sidebare title={title} items={entries} transition:persist class="w-64 bg-gray-100 dark:bg-gray-800 p-4 top-0 sticky h-screen shrink-0" />
  <MainContent class={`${css} overflow-auto`} id={`${id}`} transition:animate="fade">
    <slot />
  </MainContent>
</div>
