---
import { ClientRouter } from "astro:transitions";
import MainContent from "./MainContent.astro";
import TitleAndMeta from "./TitleAndMeta.astro";
import Sidebare from "./Sidebare.astro";
import { path_routes, type Route } from "../data/routes";

const entries = path_routes.get("blog/")?.children || new Array<Route>();

interface Props {
  title: string;
  class?: string;
  id?: string;
}

const { class: css = "", id = "", title } = Astro.props;
---

<TitleAndMeta title={`${title}`} />
<div class="flex">
  <Sidebare title={title} items={entries} transition:persist />
  <MainContent class={`${css}`} id={`${id}`} transition:animate="fade">
    <slot />
  </MainContent>
</div>
