---
import type { Route } from "../data/routes";
import Anchor from "./Anchor.astro";
interface Props {
  sites: Route[];
  outerClass?: string;
  middleClass?: string;
  innerClass?: string;
}

const {
  sites = [],
  outerClass = "",
  middleClass = "",
  innerClass = "",
} = Astro.props;
---

<div class={`flex justify-center items-center ${outerClass}`}>
  <div class={`${middleClass}`}>
    <slot name="pre_list" />
    <ul class={`list-disc list-inside max-w-md ${innerClass}`}>
      {
        sites.map((site) => {
          return (
            <li>
              <Anchor href={site.absoluteUrl(Astro.url.origin)} reload={site.reload}>
                {site.name}
              </Anchor>
            </li>
          );
        })
      }
      <slot />
    </ul>
    <slot name="after-list" />
  </div>
</div>
